.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fd5e32, #f7462e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    /* do thằng ul lúc nào nó cũng padding-left: 40px hết */
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 4px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-strong {
    font-weight: 400;
}

/* dùng để phân cách tạo dấu xẹt */
.header__navbar-item--separate::after {
    content: "";
    display: block;   
    position: absolute;
    border: 1px solid #FB9086;
    height: 16px;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__nav-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

/* css cho nó tắt hover chung đi */
.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px #c0c0c0;
}

.header__navbar-item-has--qr:hover .header__qr {
    display: inline-block;
}

/* trường hợp ta di vào nó hiện lên, nhưng ta di chuột xuống thì nó mất
do thằng hiển thị cách xa con quá, nên ta tạo một lớp gỉa pseudo element */
.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

/* Css cho thằng qr-link số 1 */
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

/* Css cho thằng qr-link số 2 */
.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img{
    height: 15px;
}

/* css thông báo */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    cursor: default;
    /* ta có thể quy định cho transform 
    nó xuất hiện từ đâu, calc 90% nó sẽ hiển thị chổ điểm 90%
    từ trái qua phải, lí do ta sử dụng calc là trường hợp ta thay đổi
    text nó sẽ không bị ảnh hưởng  */
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.2s;
    /* tối ưu opacity, transform */
    will-change: opacity, transform;
    display: none;
}

/* Viết animation phóng to thu nhỏ*/
@keyframes headerNotify {
    from {
        /* cho hiện mờ dần lên */
        opacity: 0;
        /* scale là phóng to thu nhỏ */
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before {
    content: "";
    display: block;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}

.header__notify::after {
    position: absolute;
    right: 0;
    top: -29px;
    width: 90px;
    height: 32px;
    content: "";
    display: block;

}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

/* header__navbar-user */
.header__navbar-user {
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 3px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #c0c0c0;
    padding-top: 8px;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    display: block;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    right: 40px;
    top: -27px;
    width: 20%;
    height: 30px;
    position: absolute;
}

.header__navbar-user-item {

}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #f7f1f1;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__navbar-user-item a:first-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05    );
}

/* phần khác  */
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
    
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

/* css những thằng chưa đọc là màu hường  */
.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);

}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    /* Xử lí ảnh không bị nhòe */
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-des{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Authen modal */
.auth-form {
    width: 500px;
    margin-top: -20px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}


.auth-form__input {
    width: 94%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

/* Tạo lớp giả khi ta click vào input nó sẽ hiên outline lên
màu nhẹ hơn */
.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__contronls {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__contronls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.btn--sizw-s {
    line-height: 36px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn--with--icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--google {
    background-color: var(--white-color);
}

/* Đổi màu icon google */
.fa-square-google-plus {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.auth-form__socials-title {
    margin: 0 28px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

/* Tạo dấu gạch đứng */
.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -3px 16px 0;
    border-left: 1px solid #EAEAEA;

}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header__with-search {
    height: var(--header-width-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    
}

.header__search {
    /* để chiêm hết chiều ngang */
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

/* Cart playout */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 5px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    margin: -6px 0 0 -8px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 2px 10px #ccc;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

/* Khi nào thêm header__cart-list--no-cart giỏ hàng sẽ hiện lên*/
.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list--no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
}

/* Giỏ hàng có sản phẩm */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    /* Giới hạn chiều cao để trường hượp giỏ hàng đầy quá 
    đơn vị vh vì khi màn hình nhỏ cũng xuất hiện giỏ hàng*/
    height: 56vh;
    /* cho nó thanh cuộn chiều dọc */
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
    /* cursor: pointer; */
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    color: var(--text-color);
    /* Tạo dấu 3 chấm dòng số 2 */
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    /* do thăng cha nó display: flex, nên ta sẽ khắc chế */
    flex: 1;
    /* Cho chữ sát lề trái */
    text-align: left;
    padding-right: 16px;
    display: -webkit-box;
    /* Hướng của box theo chiều dọc (từ trên xuống) */
    -webkit-box-orient: vertical;
    /* Hiện thị dấu 3 chấm dòng số 2 */
    -webkit-line-clamp: 2;

}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    font-size: 1.1rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.header__cart-item-description {
    font-weight: 400;
    font-size: 1.1rem;

}

.header__cart-item-remove {
    font-weight: 400;
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-checkout{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-checkout:hover {
    background-color: #ec6247;
}

/* Header search */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-selection {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    height: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    /* z-index: 1; */
    cursor: pointer;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 6px;
}

.header__search-selection-icon {
    font-size: 1.2rem;
    color: #4A4A4A;
    margin: 7px 12px 0 8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 32px;
    width: 40px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #ec6247;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 2px);
    list-style: none;
    width: 130px;
    box-shadow: 0 1px 2px #c0c0c0;
    padding: 0;
    border-radius: 3px;
    display: none;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    display: block;
    left: 0px;
    top: -14px;
    width: 100%;
    height: 20px;
    position: absolute;
}

.header__search-history-list {
    cursor: pointer;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    text-align: left;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-selection:hover .header__search-option {
    display: inline-block;
    cursor: pointer;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    float: right;
    margin-right: 4px;
    display: none;
}

.header__search-option-item-active i {
    display: inline-block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(180, 173, 173);
    display: none;
    z-index: 1;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 4 00;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

/* app__container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 24px;
}

.category {
    border-radius: 3px;
    background-color: var(--white-color);
    
}

.category__heading {
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 12px 0;
    list-style: none;
    margin-left: 9px;
}

/* Tạo gạch chân */
.category-item {
    position: relative;
}

.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border-top: 1px solid #E1E1E1;
}

/* Bỏ dấu gạch chân số 1 đi */
.category-item:first-child::before {
    display: none; 
}

/* Đang tạo mũi tên cho sản phẩm được chọn */
.category-item--active .category-item__link {
    color: var(--primary-color);

}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 2px));
}

.category-item__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 16px;
    display: block;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* grid__column-10 */
/* Lọc danh sách */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.home-filter__label {
    font-size: 1.6rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 10px;
}

.btn-bgd {
    background-color: var(--white-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 3px;
    display: flex;
    /* overflow: hidden; */
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1rem;
    color: #555;
}

/* Danh sách sản phẩm */
.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    /* để cho thuộc tính nó hiểu */
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    /* tạo dấu 3 chấm */
    height: 3.6rem;
    /* cho overflow ẩn dòng thừa đi */
    overflow: hidden;
    /* Khi mà -webkit-box này chạy không được nó sẽ chạy block
    Lưu ý: viết display: block; ở trên -webkit-box ko thì sẽ không hiển thị 3 chấm */
    display: block;
    display: -webkit-box;
    /* Hướng của box theo chiều dọc (từ trên xuống) */
    -webkit-box-orient: vertical;
    /* Hiện thị dấu 3 chấm dòng số 2 */
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    /* khi mà số tiền lớn quá nó sẽ nhảy xuống dòng */
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    /* xét trước cho nó có nhảy xuống dòng thì price-old và price-current đều nhau*/
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    /* xét trước cho nó có nhảy xuống dòng thì price-old và price-current đều nhau*/
    margin-left: 10px;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
    cursor: pointer;
}

.home-product-item__like {
    font-size: 1.2rem;
}

/* Do ta bị display: inline-block nó mạnh quá ko ẩn được ta thêm i vào  */
i.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.9rem;
    color: #ccc;
    margin-left: auto;
    margin-top: -1px;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    /* Tạo Cho nó cái màu để currentColor ăn theo
    nhưng phải xem xét kĩ những thằng con khác có bị ảnh hưởng ko
    nếu bị ảnh hưởng css color riêng cho tụi con */
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    /* display: block; */
    position: absolute;
    /* currentColor bên đây vì là con cũng được hưỡng theo */
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
    /* Giảm độ sáng color */
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 1rem;
    margin-left: 4px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    border-width: 0 20px 8px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    display: block;
    padding: 4px 0;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4rem;
}


/* footer start */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer__list-item:hover .footer-item__link {
    color: var(--primary-color);
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #666;
    padding: 2px 0;
    display: block;
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--boder-color);
}

.footer__download-apps {
    margin-left: 12px;
    color: transparent;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 20px;
}

.footer__pay-img img{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 6px;
    background-color: #FFFFFF;
    cursor: pointer;
}

/* footer end */
.footer__bottom {
    background-color: #F5F5F5;
}

.footer__bottom-end {
    flex: 1;
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

.footer__bottom-policy a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #707070;
    margin-left: 60px;
}

.footer__bottom-policy a::before {
    content: "";
    position: relative;
    top: -1px;
    right: 30px;
    border-right: 1px solid #DFDFDF;
}

.footer__bottom-policy a:first-child::before {
    display: none;
}

.footer__bottom-information {
    color: #565656;
    font-size: 1.2rem;
}

.footer__bottom-information--company {
    margin-bottom: 4px !important;
}

.footer__bottom-information p {
    margin-bottom: -8px;
}